@import url("https://fonts.googleapis.com/css2?family=Girassol&family=Kalam:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tulpen+One&display=swap");
.line-through {
  width: 20rem;
  text-align: center;
  border-bottom: 3px solid #fff;
  line-height: 0.1rem;
  margin: 10px 0 20px;
}

.line-through span {
  padding: 0 5px;
  background-color: #1976d2;
  font-family: "Girassol", cursive;
}

.line-through-register {
  width: 13rem;
  text-align: center;
  border-bottom: 3px solid #1976d2;
  line-height: 0.1rem;
  margin: 10px 0 20px;
}

.line-through-register span {
  padding: 0 5px;
  background-color: white;
  font-family: "Girassol", cursive;
}

.line-through-dashboard {
  /* width: 13rem; */
  text-align: center;
  border-bottom: 3px solid #1976d2;
  line-height: 0.1rem;
}

.line-through-dashboard span {
  padding: 0 5px;
  background-color: white;
  color: #1976d2;
  font-family: "Girassol", cursive;
}

.font {
  font-family: "Stint Ultra Expanded", cursive;
}
