.line-through {
  width: 20rem;
  text-align: center;
  border-bottom: 3px solid #fff;
  line-height: 0.1rem;
  margin: 10px 0 20px;
}

.line-through span {
  padding: 0 5px;
  background-color: #1976d2;
}

.line-through-register {
  width: 13rem;
  text-align: center;
  border-bottom: 3px solid #1976d2;
  line-height: 0.1rem;
  margin: 10px 0 20px;
}

.line-through-register span {
  padding: 0 5px;
  background-color: white;
}
